@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Montserrat", sans-serif;
}

/* antd override */

input{
  border-radius: 0 ;
  border: 1px solid rgba(128, 128, 128, 0.5) ;
  height: 40px ;
}
input:focus{
  outline: none ;
  box-shadow: none ;
  border: 1px solid gray ;
}
label{
  font-size: 16px ;
  color: black ;
}
.ant-form-item{
  margin: 10px 0 ;
}


/* common styling */

.card-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.normal-text{
  font-size: 1rem;
}
.card{
  box-shadow: 0 0 2px gray;
  border-radius: 0 ;
}
.primary-button{
  background-color: #3FA2F6;
  border-color: #5B99C2;
  height: 40px ;
  width: 100% ;
  color: white;
  font-size: 16px;
}
.anchor{
  color: black;
  text-decoration: underline;
  font-size: 16px;
}
.anchor:hover{
  text-decoration: underline;
}


/* authentication pages */

.authentication{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authenticationForm{
  width: 400px;
}
.authentication .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orange;
  color: white;
  max-width: max-content;
  padding: 7px 15px;
  margin-left: -50px;
  border-bottom-left-radius: 10px;
}